div.texting-container {
    width: 60vw;
    margin: auto;

    div {
        width: 100%;
        margin: 0;
        padding: 0;
        background: initial;

        * {
            width:fit-content;
            max-width: 60%;
            border-radius: 1em;
            padding: .4em;
            margin: 2px;
            font-family: 'Roboto', sans-serif;
        }

        .name {
            font-size: .6em;
            border-radius: 0;
            padding: .1px;
            font-weight: bold;
        }

        $colors: (red:#f44336, blue:#6765ff, green:#5aff54);
        @each $color, $hex in $colors{
            &.#{$color} *:not(.name) {
                background: #{$hex};
            }
        }

        $sides: (left: right, right: left);
        @each $side, $opposite in $sides{
            &.#{$side} {
                * {
                    margin-#{$side}: 5px;
                    margin-#{$opposite}: auto;
                    border-top-#{$side}-radius: 0;
                    border-bottom-#{$side}-radius: 0;
                }
    
                .name + *, 
                *:first-child {
                    border-top-#{$side}-radius: 1em;
                }
    
                *:last-child {
                    border-bottom-#{$side}-radius: 1em;
                }
            }
        }
    }
}