.style-notification {
    display: none;
}

.texting-container * {
    width:fit-content;
    max-width: 60%;
    border-radius: 1em;
    padding: .4em;
    margin: 2px;
    font-family: 'Roboto', sans-serif;
}

.texting-container .name {
    font-size: .6em;
    border-radius: 0;
    padding: .1px;
    font-weight: bold;
}

.texting-container .left {
    margin-left: 5px;
    margin-right: auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.texting-container .left.name + .left {
    border-top-left-radius: 1em;
}

.texting-container .left.bottom {
    border-bottom-left-radius: 1em;
}

.texting-container .right {
    margin-right: 5px;
    margin-left: auto;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.texting-container .right.name + .right {
    border-top-right-radius: 1em;
}

.texting-container .right.bottom {
    border-bottom-right-radius: 1em;
}

/*
Text bubble colors beyond this point.
*/

.texting-container .red {
    background:#f44336;
}

.texting-container .blue {
    background: #2196f3;
}