/* Texting CSS by @legowerewolf */

@import "../mixin/centered-element.scss";

div.userstuff {
	div.texting-container {
		@include centered-element;

		font-family: sans-serif;

		> div {
			width: 100%;
			margin: 0;
			padding: 0;

			> * {
				width: fit-content;
				max-width: 80%;
				border-radius: 1em;
				padding: 0.4em;
				margin: 2px;
				font-family: "Roboto", sans-serif;
			}

			> .name {
				font-size: 0.7em;
				border-radius: 0;
				padding: 0.1px;
				font-weight: bold;
			}

			$colors: (
				red: #ef5350,
				blue: #42a5f5,
				teal: #26a69a,
				green: #66bb6a,
				yellow: #ffee58,
				orange: #ff7043
			);
			@each $color, $hex in $colors {
				&.#{"" + $color} > *:not(.name) {
					background: #{$hex};
					color: black;
				}
			}

			$sides: (
				left: right,
				right: left
			);
			@each $side, $opposite in $sides {
				&.#{$side} {
					> * {
						margin-#{$side}: 5px;
						margin-#{$opposite}: auto;
						border-top-#{$side}-radius: 0;
						border-bottom-#{$side}-radius: 0;
					}

					> .name + *,
					> *:first-child {
						border-top-#{$side}-radius: 1em;
					}

					> *:last-child {
						border-bottom-#{$side}-radius: 1em;
					}
				}
			}
		}
	}
}
